html,
body {
  font-family: "Open Sans", sans-serif;
  font-family: "Poppins", sans-serif;
  scrollbar-width: none;
  @apply bg-light-gray;
}

body::-webkit-scrollbar {
  @apply hidden;
}

.animate__pop {
  animation: pop 0.3s ease-in-out;
  transition-delay: 100ms;
}

.animate__from__top__to__bottom {
  animation: fromTopToBottom 0.1s ease;
  @apply transition-all !duration-700 delay-150;
}

.animate__from__right__to__left {
  animation: fromRightToLeft 5s infinite;
}

@keyframes pop {
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.8);
  }
  0% {
    transform: scale(1);
  }
}

@keyframes fromTopToBottom {
  100% {
    width: 100vh;
  }
  0% {
    width: 0;
  }
}

@keyframes fromRightToLeft {
  50% {
    transform: translate(100%, 0);
  }
  0% {
    transform: translate(-100%, 0);
  }
}
